extends layout

block content
    div.row
        div.col-md-6
            h1= title

    unless globalData.bulbCount
        form(name="bulbCountForm", method="post")
            div.form-group
                label(for="bulbCount") Please enter bulb count:
                input#bulbCount(type="number", name="bulbCount", value="11")
                input#type(type="hidden", name="type", value="setBulbCount")
            button.btn.btn-info(type="submit") Submit
