extends layout

block content
    h1= title

    unless globalData.bulbCount
        form(name="bulbCountForm", method="post")
            div.input
                span.label Please enter bulb count:
                input(type="number", name="bulbCount")
            div.actions
                input(type="submit", name="submit", value="submit")
