body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.input {
    margin-bottom: 10px;
}

form[name="bulbCountForm"] {
    margin-top: 30px;
}
